<!-- User Welcome Statement-->
<div class="row welcome">
  <div class="col-lg-12">
    <h2>
      <center>Welcome, {{user_name}}{{sign.symbol}}!</center>
    </h2>
  </div>
</div>
  
  <!-- Recent Dreams Image -->
  <div id="recent-img">
    <img src="./img/recent-dreams.png">
  </div>

  <!-- Recent Dreams Section -->
  {{#each dreams as |dream|}}

  <!-- Dream Title -->
  <div class="lead">
    <em><b>{{dream.subject}}</b></em>
    <br>
</div>
  <!-- Dream Date -->
    --- Posted {{format_date dream.createdAt}}
  <!-- Dream Content -->
  <div class="profile-body">
   <p>{{dream.body}}</p>
  
<!-- Edit Dream Button -->
<a class="btn btn-info edit-button" href="/{{dream.id}}">Edit Dream</a>
  </div>


<hr>
{{/each}}
</div>

