<div class="row welcome">
  <div class="col-lg-12">
     <h2>Welcome, {{user_name}}!</h2>
   </div>
   </div>

    {{#each dreams as |dream|}}
    <p style="font-style: italic">{{dream.subject}}</p>
    Posted {{format_date dream.createdAt}}
    <p class="dream-body">{{dream.body}}</p>
    <a class="btn btn-info" href="/{{dream.id}}">Edit Dream</a>
    <hr>
    {{/each}}
  </div>
</div>